data :
  name: MVTec  #MVTec #MTD #VisA 
  data_dir: /data/xjy/mvtec  #MVTec #VisA #MTD  
  category: bottle_new  #['carpet', 'bottle', 'hazelnut', 'leather', 'cable', 'capsule', 'grid', 'pill', 'transistor', 'metal_nut', 'screw','toothbrush', 'zipper', 'tile', 'wood']    
                   # ['candle', 'capsules', 'cashew', 'chewinggum', 'fryum', 'macaroni1', 'macaroni2', 'pcb1', 'pcb2' ,'pcb3', 'pcb4', 'pipe_fryum']
  image_size: 256 
  train_batch_size: 32
  batch_size: 32 # 32 for DDAD and 16 for DDADS
  DA_batch_size: 16 #16 for MVTec and [macaroni2, pcb1] in VisA, and 32 for other categories in VisA
  test_batch_size: 16 #16 for MVTec, 32 for VisA
  mask : True 
  input_channel : 3
  source_data_dir: /data/xjy/mvtec      # (示例) MVTec 数据集根目录
  source_category: bottle_new



model:
  DDADS: False
  checkpoint_dir: checkpoints_official   #MTD  #MVTec  #VisA
  checkpoint_name: Class1
  exp_name: default
  feature_extractor: wide_resnet101_2 #wide_resnet101_2  # wide_resnet50_2 #resnet50
  learning_rate: 3e-4 
  weight_decay: 0.05
  epochs: 1000
  load_chp: 1000  # From this epoch checkpoint will be loaded. Every 250 epochs a checkpoint is saved. Try to load 750 or 1000 epochs for Visa and 1000-1500-2000 for MVTec.
  DA_epochs: 0 # Number of epochs for Domain adaptation.
  DA_chp: 0
  v : 4 #7 # 1 for MVTec and cashew in VisA, and 7 for VisA (1.5 for cashew). Control parameter for pixel-wise and feature-wise comparison. v * D_p + D_f
  w : 3 # Conditionig parameter. The higher the value, the more the model is conditioned on the target image. "Fine tuninig this parameter results in better performance".
  w_DA : 3 #3 # Conditionig parameter for domain adaptation. The higher the value, the more the model is conditioned on the target image.
  DLlambda : 0.1 # 0.1 for MVTec and 0.01 for VisA
  trajectory_steps: 1000
  test_trajectoy_steps: 999   # Starting point for denoining trajectory.
  test_trajectoy_steps_DA: 250  # Starting point for denoining trajectory for domain adaptation.
  skip : 1   # Number of steps to skip for denoising trajectory.
  skip_DA : 25
  eta : 0 # Stochasticity parameter for denoising process.
  beta_start : 0.0001
  beta_end : 0.02 
  device: 'cuda' #<"cpu", "gpu", "tpu", "ipu">
  save_model: True
  num_workers : 2
  seed : 42
  loc_epochs: 25



metrics:
  auroc: True
  pro: False
  auprc: True  # <--- 新增
  rec_at_k: True # <--- 新增
  misclassifications: False
  visualisation: False

# 在 config.yaml 文件末尾添加以下内容
transfer:
  # 定义第一个模型的类别和checkpoint
  bottle_category: bottle
  bottle_chp: 1000 # 你训练好的bottle模型的checkpoint epoch

  # 定义第二个模型的类别和checkpoint
  cable_category: cable
  cable_chp: 3000 # 你训练好的cable模型的checkpoint epoch

  # 定义切换模型的去噪时间步
  # 总测试步长为 test_trajectoy_steps (例如 250)
  # 去噪过程是从 250 -> 0
  # 在 (1000, split_step] 这个区间, 使用bottle模型
  # 在 (split_step, 0] 这个区间, 使用cable模型
  split_step: 50 # 例如 250 / 2 = 125